<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@drawable/round_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/round_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup"
        tools:ignore="DataExtractionRules,UnusedAttribute"
        android:dataExtractionRules="@xml/data_extraction_rules">

        <activity android:name=".finish" android:exported="true" />
        <activity android:name=".provider" android:exported="true" />
        <activity android:name=".about" android:exported="true" />
        <activity android:name=".devcontact" android:exported="true" />
        <activity android:name=".contact" android:exported="true" />

        <activity
            android:name=".privacy"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme"
            tools:ignore="LockedOrientationActivity" />

        <activity android:name=".LatestJob" android:exported="true" />
        <activity android:name=".LatestProduct" android:exported="true" />
        <activity android:name=".UsedProduct" android:exported="true" />
        <activity android:name=".NewProduct" android:exported="true" />
        <activity android:name=".LatestService" android:exported="true" />
        <activity android:name=".LatestMatrimony" android:exported="true" />
        <activity android:name=".LatestMaleMatrimony" android:exported="true" />
        <activity android:name=".LatestFemaleMatrimony" android:exported="true" />

        <activity android:name=".CatJob" android:exported="true" />
        <activity android:name=".CityJob" android:exported="true" />

        <activity android:name=".CityProduct" android:exported="true" />
        <activity android:name=".CatProduct" android:exported="true" />

        <activity android:name=".CatService" android:exported="true" />
        <activity android:name=".CityService" android:exported="true" />

        <activity android:name=".CatMatrimony" android:exported="true" />
        <activity android:name=".CityMatrimony" android:exported="true" />
        <activity android:name=".CatMatrimonyMale" android:exported="true"/>
        <activity android:name=".CatMatrimonyFemale" android:exported="true" />
        <activity android:name=".ReligionMatrimonyMale" android:exported="true" />
        <activity android:name=".ReligionMatrimonyFemale" android:exported="true" />

        <activity android:name=".CityRstrnt" android:exported="true" />
        <activity android:name=".TutyCityRstrnt" android:exported="true" />

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            tools:ignore="RedundantLabel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name=".SplashActivity" android:value="true" />
        </activity>

        <activity android:name=".MainActivity" android:exported="true" android:windowSoftInputMode="adjustPan" >
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https"
                    android:host="www.sundigitalindiajobs.com"
                    android:pathPrefix="/link.php"  />
            </intent-filter>
        </activity>

        <activity android:name=".JobDetailsActivity" android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https"
                    android:host="www.sundigitalindiajobs.com"
                    android:pathPrefix="/job"  />
            </intent-filter>
        </activity>
        <activity android:name=".ProductDetailsActivity" android:exported="true" >
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https"
                    android:host="www.sundigitalindiajobs.com"
                    android:pathPrefix="/product"  />
            </intent-filter>
        </activity>
        <activity android:name=".ServiceDetailsActivity" android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https"
                    android:host="www.sundigitalindiajobs.com"
                    android:pathPrefix="/service"  />
            </intent-filter>
        </activity>
        <activity android:name=".MatrimonyDetailsActivity" android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https"
                    android:host="www.sundigitalindiajobs.com"
                    android:pathPrefix="/matrimony"  />
            </intent-filter>
        </activity>
        <activity android:name=".RestaurantDetailsActivity" android:exported="true" />
        <activity android:name=".CartDetailsActivity" android:exported="true" />

        <activity android:name=".SearchActivity" android:exported="true"/>
        <activity android:name=".FilterSearchResultActivity" android:exported="true"/>
    </application>

</manifest>